#My Files
Main_Algorithm/Capacitor_Voltage.csv
Main_Algorithm/Inductor_Voltage.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
Main_Algorithm/my_animation.mp4
Main_Algorithm/Videos/
Main_Algorithm/plots/
Main_Algorithm/Videos/Current_In_Capacitor.mp4
Main_Algorithm/Videos/Voltage_Inductor_50.mp4
Main_Algorithm/Videos/Pulse_Response_Capacitor_Current_10s-900f.mp4
Main_Algorithm/exponential_slooshing_100_s.mp4
Main_Algorithm/Inductor_Sending_Voltage_10_1_20_layers.png
Main_Algorithm/plots/Capacitor_Returning_10_1_20_layers.png
Main_Algorithm/plots/Capacitor_Returning_10_1_100_layers.png
Main_Algorithm/plots/Capacitor_Returning_Voltage_10_1_20_layers.png
Main_Algorithm/plots/Capacitor_Returning_Voltage_10_1_100_layers.png
Main_Algorithm/plots/Capacitor_Sending_Current_10_1_20_layers.png
Main_Algorithm/plots/Capacitor_Sending_Current_10_1_100_layers.png
Main_Algorithm/plots/Capacitor_Sending_Voltage_10_1_20_layers.png
Main_Algorithm/plots/Capacitor_Sending_Voltage_10_1_100_layers.png
Main_Algorithm/plots/Inductor_Returning_Current_10_1_20_layers.png
Main_Algorithm/plots/Inductor_Returning_Current_10_1_100_layers.png
Main_Algorithm/plots/Inductor_Returning_Voltage_10_1_20_layers.png
Main_Algorithm/plots/Inductor_Returning_Voltage_10_1_100_layers.png
Main_Algorithm/plots/Inductor_Sending_Current_10_1_20_layers.png
Main_Algorithm/plots/Inductor_Sending_Current_10_1_100_layers.png
Main_Algorithm/plots/Inductor_Sending_Voltage_10_1_20_layers.png
Main_Algorithm/plots/Inductor_Sending_Voltage_10_1_100_layers.png
Main_Algorithm/plots/Returning_Current_10_1_20_layers.png
Main_Algorithm/plots/Returning_Current_10_1_100_layers.png
Main_Algorithm/plots/Returning_Voltage_10_1_20_layers.png
Main_Algorithm/plots/Returning_Voltage_10_1_100_layers.png
Main_Algorithm/plots/Sending_Current_10_1_20_layers.png
Main_Algorithm/plots/Sending_Current_10_1_100_layers.png
Main_Algorithm/plots/Sending_Returning_Current_10_1_20_layers.png
Main_Algorithm/plots/Sending_Returning_Current_10_1_100_layers.png
Main_Algorithm/plots/Sending_Returning_Voltage_10_1_20_layers.png
Main_Algorithm/plots/Sending_Returning_Voltage_10_1_100_layers.png
Main_Algorithm/plots/Sending_Voltage_10_1_20_layers.png
Main_Algorithm/plots/Sending_Voltage_10_1_100_layers.png
Main_Algorithm/plots/Sending_Returning_Voltage_10_1_10_layers.png
Main_Algorithm/Chapter_8_plots/figure.png
